*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: bisque;
    padding: 10px;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 500px 100px;
    grid-gap: 10px;
}

header, nav, article, footer{
    padding: 20px;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

header{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: blue;
}

nav{
    background-color: coral;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

article{
    background-color: chartreuse;
    grid-column-start: 2;
    grid-column-end: 4;
}

footer{
    background-color: yellow;
    grid-column-start: 2;
    grid-column-end: 4;
}